.header{
    height: 80px;
    background: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 0 100px;
}
 .header a{
    text-decoration: none;
    margin-left: 30px;
  
    color: aliceblue;
   
}
.header a:hover{
    color: orange;
}